/* Main responsive styles */
@media only screen and (max-width: 768px) {
    :root {
        --html-font-size: 3.76vw;
        --ui-height: 9.41vw;
        --padding-def: 2.35vw;
        --padding-sm: 11.76vw;
        --padding-xs: 3.53vw;
    }

    select,
    textarea,
    input {
        font-size: var(--main-font-size);
    }

    html:not(.--loaded) body {
        padding-right: unset;
    }

    html:not(.--loaded) .section-hero__assets {
        width: 100%;
    }

    .hero-carousel {
        height: 100vh;
        -webkit-transition: all 100ms ease-in-out;
        -o-transition: all 100ms ease-in-out;
        transition: all 100ms ease-in-out;
    }

    .app-aside {
        display: none;
    }

    .app-mobile-header {
        position: fixed;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        z-index: 100;
        width: 100%;
        padding: 2.35vw;
        height: 13.41vw;
        top: 0;
        left: 0;
    }

    .app-mobile-header:before {
        content: "";
        background: var(--dark);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
        .app-mobile-header:before {
            background: rgba(59, 80, 91, 0.60);
            -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
        }
    }

    .app-mobile-header__logo-img {
        width: 20vw;
    }

    .app-mobile-header__menu-btn {
        width: 7.76vw;
        height: 7.76vw;
        border: none;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0,0,256,256"><g fill="%23ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.12,5.12)"><path d="M5,8c-0.72127,-0.0102 -1.39216,0.36875 -1.75578,0.99175c-0.36361,0.623 -0.36361,1.39351 0,2.01651c0.36361,0.623 1.0345,1.00195 1.75578,0.99175h40c0.72127,0.0102 1.39216,-0.36875 1.75578,-0.99175c0.36361,-0.623 0.36361,-1.39351 0,-2.01651c-0.36361,-0.623 -1.0345,-1.00195 -1.75578,-0.99175zM5,23c-0.72127,-0.0102 -1.39216,0.36875 -1.75578,0.99175c-0.36361,0.623 -0.36361,1.39351 0,2.01651c0.36361,0.623 1.0345,1.00195 1.75578,0.99175h40c0.72127,0.0102 1.39216,-0.36875 1.75578,-0.99175c0.36361,-0.623 0.36361,-1.39351 0,-2.01651c-0.36361,-0.623 -1.0345,-1.00195 -1.75578,-0.99175zM5,38c-0.72127,-0.0102 -1.39216,0.36875 -1.75578,0.99175c-0.36361,0.623 -0.36361,1.39351 0,2.01651c0.36361,0.623 1.0345,1.00195 1.75578,0.99175h40c0.72127,0.0102 1.39216,-0.36875 1.75578,-0.99175c0.36361,-0.623 0.36361,-1.39351 0,-2.01651c-0.36361,-0.623 -1.0345,-1.00195 -1.75578,-0.99175z"></path></g></g></svg>') center/contain no-repeat;
        -webkit-transition: all 300ms ease-in-out;
        -o-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
    }

    html.--aside-opened .app-mobile-header__menu-btn {
        -webkit-transform: scale(.90);
        -ms-transform: scale(.90);
        transform: scale(.90);
        opacity: .75;
    }

    .btn.btn_arrow:after {
        width: 10.82vw;
        height: 1.88vw;
    }

    .fancybox-container.--aside-styles .fancybox-content {
        background: none;
        padding: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .fancybox-container.--aside-styles .fancybox-slide--html {
        padding: 0;
    }

    html.--aside-opened {
        overflow: hidden;
    }

    .fancybox-container.--aside-styles .fancybox-slide--html .fancybox-close-small {
        z-index: 10000;
        color: #fff;
        padding: 0;
        top: 10px;
        right: 10px;
    }

    .app-aside {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .app-aside[data-aside-transparent] .app-aside__bg:before {
        position: absolute;
        height: 100%;
        width: 100%;
    }

    .app-aside[data-aside-transparent] .app-aside__bg {
        height: 100%;
    }

    .app-aside__inner {
        height: 100%;
        overflow: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        gap: 5.2vw;
        padding: 5.2vw;
    }

    .app-aside__logo {
        display: none;
    }

    .app-aside__nav {
        grid-gap: 4.2vw;
    }

    body {
        padding-top: 13.41vw;
    }

    html.--hero-carousel-init body {
        padding-top: 0;
    }

    .app-aside__nav-item {
        font-size: 1rem;
        line-height: normal;
    }

    .app-aside__bottom-text {
        font-size: 0.825rem;
        line-height: normal;
    }

    .app-aside__bottom-link {
        font-size: 0.825rem;
        line-height: normal;
    }

    .app-aside__bottom {
        grid-gap: 2.39vw;
    }

    .hero-carousel__block-title {
        font-size: 4.25rem;
        line-height: normal;
    }

    .hero-carousel__slide {
        padding-left: 2.35vw;
        gap: 11.86vw;
    }

    .swiper-pagination.hero-carousel__pagination {
        right: 2.35vw;
    }

    .hero-carousel__block {
        max-width: calc(100% - 2.35vw);
    }

    .--aside-offset {
        width: unset;
        margin-left: unset;
    }

    .catalog {
        -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
        position: relative;
        z-index: 1;
    }

    .catalog-block-link {
        height: auto;
        padding: 10.35vw var(--padding-def);
    }

    .catalog-block-link__icon {
        max-width: 13.39vw;
        margin-bottom: 3.82vw;
    }

    .catalog-block-link__title {
        margin-bottom: 4.86vw;
    }

    .portfolio__title {
        font-size: 3.075rem;
        line-height: normal;
    }

    .portfolio__content .btn {
        max-width: 65.28vw;
    }

    .portfolio__row {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .portfolio__content {
        padding: 9vw var(--padding-def);
    }

    .portfolio.portfolio_v2 .portfolio__gallery-grid .portfolio__gallery-item:nth-child(2), .portfolio__gallery-grid .portfolio__gallery-item:nth-child(3) {
        height: 100%;
    }

    .--aside-pd-left-offset {
        padding-left: unset;
    }

    .discount {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 6.08vw var(--padding-def);
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .discount__title {
        font-size: 3.375rem;
    }

    .discount__desc {
        font-size: 1.275rem;
    }

    .discount__arrow {
        display: none;
    }

    .elevator-scene {
        height: calc(100vh * 2);
    }

    .elevator {
        --animation-start-px: 100;
        height: calc(100vh + 13.41vw);
    }

    .elevator__border {
        background-position: center top;
    }

    .elevator__bg {
        padding: 30.95vw 2.35vw 0;
        background-size: cover;
    }

    .elevator__doors {
        padding: 30vw 0 0;
    }

    .elevator__title {
        font-size: 2.375rem;
        line-height: normal;
    }

    .elevator__doors-item .elevator__image {
        width: 37.33vw;
    }

    .elevator__content-col .elevator__image {
        width: 29.67vw;
    }

    .spv__head {
        padding: var(--padding-def);
    }

    .spv-carousel.spv-carousel_type_crt .spv-carousel_slide {
        width: 39.11vw;
    }

    .app-section-title {
        font-size: 1.575rem;
    }

    .spv {
        padding: 5vw 0;
    }

    .modal__title.--phones-icon:after,
    .modal__title.--cur-icon:after {
        width: 4.46vw;
        height: 4.46vw;
        bottom: -5.56vw;
    }

    .modal__title.--phones-icon,
    .modal__title.--cur-icon {
        margin-bottom: 8.6vw;
    }

    .modal__description {
        max-width: 100%;
        margin: 0 auto 4.56vw;
    }

    .modal-form__grd-inputs {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .main-form-input {
        font-size: 16px;
        padding: 0 4.71vw;
    }

    .modal-form {
        grid-gap: var(--padding-xs);
    }

    .main-form-textarea {
        padding: 2.71vw 4.71vw;
    }

    html:not(.--hero-carousel-init) .app-mobile-header:before {
        background: rgb(59 80 91 / 96%);
    }

    .section-categories {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .category-item {
        height: calc(35.33vh - 13.41vw);
    }

    .category-item__text {
        font-size: 3.275rem;
        line-height: normal;
    }

    .discount-block {
        padding: 4vw var(--padding-def) 6vw;
    }

    .discount-block__title {
        font-size: 3.275rem;
        line-height: normal;
    }

    .discount-block__desc {
        font-size: 1.275rem;
        line-height: normal;
    }

    .app-section-content {
        padding: 5vw var(--padding-def);
    }

    .text-block__row {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .tag-item {
        padding: 1.47vw 2.82vw;
    }

    .tags {
        gap: 2.52vw;
    }

    .section-discount.section-discount_bg .discount {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        gap: 5.25vw;
        padding-bottom: 8vw;
    }

    .discount-top__title {
        font-size: 2.413rem;
    }

    .discount__text {
        text-align: left;
    }

    .discount-top {
        padding: 6.08vw var(--padding-def) 0;
    }

    .cat-entry__row {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .cat-entry__title br {
        display: none;
    }

    .cat-entry__title {
        line-height: normal;
        font-size: 3.375rem;
    }

    .cat-entry__content {
        padding: 4vw var(--padding-def);
    }

    .text-block__paragraph:not(:last-child) {
        margin-bottom: 2.78vw;
    }

    .text-block__list {
        margin-bottom: 2.52vw;
        margin-left: 4.56vw;
    }

    .portfolio.portfolio_v2 .portfolio__row {
        height: auto;
    }

    .portfolio.portfolio_v2 .portfolio__gallery-grid .portfolio__gallery-item:nth-child(2), .portfolio__gallery-grid .portfolio__gallery-item:nth-child(3) {
        height: auto;
    }

    .page-header__heading-text {
        font-size: 3.375rem;
        line-height: normal;
    }

    .page-header {
        padding: 6vw var(--padding-def);
        grid-gap: 4vw;
    }

    .list-w-arrows__item:before {
        width: 8.71vw;
        height: 1.88vw;
    }

    .list-w-arrows__item {
        gap: 3.52vw;
    }

    .catalog-block-image {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        -webkit-filter: blur(5px);
        filter: blur(5px);
    }

    .catalog-block-image:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgb(255 255 255 / 88%);
    }

    .section-filter {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    #filter-form {
        display: none;
    }

    .btn-mobile-filter {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        width: 100%;
    }

    .page-header__icon {
        width: 6.82vw;
        height: 6.82vw;
    }

    .page-header__icon-counter {
        border-radius: 1.63vw;
        padding: 0.22vw 1.42vw;
    }

    .page-catalog__grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .offers-carousel__slide {
        height: 76.25vw;
    }

    .offers-carousel__title {
        font-size: 2.213rem;
        line-height: normal;
    }

    .offers-carousel__desc-line:first-child {
        font-size: 3.375rem;
        line-height: normal;
    }

    .swiper-button-prev.offers-carousel__prev, .swiper-button-next.offers-carousel__next {
        width: 8.24vw;
        height: 1.88vw;
    }

    .offers-carousel__nav {
        gap: 3.3vw;
    }

    .offers-carousel__content {
        padding: 4vw var(--padding-def);
    }

    .section-page-catalog {
        padding: 4vw var(--padding-def) 12vw;
    }

    .card__thumb {
        height: 50.38vw;
    }

    .card__title {
        height: 15.7vw;
    }

    .card__price {
        gap: 2.52vw;
    }

    .card, .card__inner {
        height: 124.66vw;
    }

    .card:hover .card__inner {
        height: 154vw;
    }

    .card:hover .card__counter {
        height: 13.23vw;
    }

    .card:hover .card__data-item:last-child {
        height: 10.03vw;
    }

    .input-counter__dec, .input-counter__inc {
        width: 8.24vw;
        height: 8.24vw;
    }

    .input-counter__dec {
        background: url('data:image/svg+xml,<svg width="15" height="3" viewBox="0 0 15 3" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15 0.666626V2.33329L0 2.33329L7.28525e-08 0.666626L15 0.666626Z" fill="%233B505B"/></svg>') center/3.53vw no-repeat;
    }

    .input-counter__inc {
        background: url('data:image/svg+xml,<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.66667 0H8.33333V15H6.66667V0Z" fill="%233B505B"/><path d="M15 6.66667V8.33333L0 8.33333L7.28526e-08 6.66667L15 6.66667Z" fill="%233B505B"/></svg>') center/3.53vw no-repeat;
    }

    .btn-favourite__icon {
        width: 7.06vw;
        height: 6.12vw;
    }

    .card__actions {
        -ms-grid-columns: 1fr 3.52vw 7.06vw;
        grid-template-columns: 1fr 7.06vw;
        grid-gap: 3.52vw;
    }

    .input-counter__label {
        width: 16.17vw;
    }

    .btn-remove__icon {
        width: 5.18vw;
        height: 6.12vw;
    }

    .card__counter {
        -ms-grid-columns: 1fr 3.52vw 7.06vw;
        grid-template-columns: 1fr 7.06vw;
        grid-gap: 3.52vw;
    }

    .btn-cart__active span {
        min-width: 7.76vw;
        border-radius: 2.63vw;
    }

    .btn.btn-cart.--active .btn-cart__active {
        gap: 2.42vw;
    }

    .page-catalog {
        grid-gap: 12vw;
    }

    .app-pagination__item {
        width: 8.24vw;
        height: 8.24vw;
    }

    .app-pagination {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        gap: 2.52vw;
    }

    .spv-carousel.spv-carousel_type_partners .spv-carousel_slide {
        width: 23.17vw;
        height: 9.08vw;
    }

    .section-spv.section-spv_type_partners .spv {
        padding: 6vw 0;
    }

    .card .btn-favourite__default, .card .btn-favourite__active {
        display: none;
    }

    .btn-remove__tooltip {
        display: none;
    }

    .filter-form__g-inputs {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .main-form-label.--input-icon-search .main-form-input {
        padding-left: 10.71vw;
    }

    .main-form-label.--input-icon-search:after {
        width: 3.76vw;
        height: 4.71vw;
        left: 4.71vw;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        padding-left: 4.71vw;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        right: 4.71vw;
        background-size: 1.88vw;
        width: 1.88vw;
    }

    #filter-form.fancybox-content .filter-form__row:not(:last-of-type) {
        margin-bottom: 4vw;
    }

    .checkbox-tag__text {
        padding: 0.56vw 2.83vw;
    }

    .filter-form__tags {
        gap: 1.52vw;
    }

    .trigger-radio__text {
        padding: 0.56vw 2.83vw;
    }

    .filter-form__bottom {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .btn.btn_close:after {
        width: 5.18vw;
        height: 5.18vw;
    }

    .catalog-entry__grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .catalog-entry__heading {
        font-size: 1.375rem;
        margin-bottom: 4vw;
    }

    .catalog-entry {
        padding: 4vw var(--padding-def);
    }

    .entry-description__row {
        -ms-grid-columns: 27.73vw 1fr;
        grid-template-columns: 27.73vw 1fr;
    }

    .entry-description__name {
        padding-top: 0.46vw;
    }

    .catalog-entry__preview {
        height: 54.48vw;
    }

    .input-counter {
        padding: 1.52vw 3.6vw;
        border-radius: 7.21vw;
    }

    .count-text__count {
        min-width: 5.19vw;
        padding: 0.71vw 0.16vw;
        border-radius: 1.36vw;
        right: -5.39vw;
    }

    .catalog-carousel__slide {
        width: calc((100% / 1));
    }

    .catalog-carousel {
        padding-bottom: 35.59vw;
    }

    .page-catalog__body {
        margin-bottom: -35.59vw;
    }

    .section-filter.section-filter_bg .filter-form__radios {
        margin: 0;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .contacts-page {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .contacts-page__map {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }

    .contacts-page__content {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .contacts-page__title {
        font-size: 3.375rem;
        line-height: normal;
    }

    .contacts-page__data {
        grid-gap: 6.56vw;
    }

    .contact-item__title {
        font-size: 1.25rem;
    }

    .contact-item__head {
        gap: 1.52vw;
    }

    .contact-item {
        grid-gap: 2.52vw;
    }

    .feedback {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .feedback__title {
        font-size: 3.375rem;
        line-height: normal;
    }

    .feedback__content {
        padding: 5vw var(--padding-def);
    }

    .feedback-form__bottom .btn {
        max-width: 55.02vw;
    }

    .contacts-page__map {
        height: 65.88vw;
    }

    .main-form-checkbox.main-form-checkbox_type_square .main-form-checkbox__checkmark {
        width: 5.18vw;
        height: 5.18vw;
    }

    .main-form-checkbox.main-form-checkbox_type_square .main-form-checkbox__checkmark:before {
        background-size: 2.9vw;
    }

    .main-form-checkbox.main-form-checkbox_type_square {
        gap: 2.68vw;
    }

    .cart-item {
        -ms-grid-columns: 5.18vw var(--padding-def) 33.38vw var(--padding-def) 1fr;
        grid-template-columns: 5.18vw 33.38vw 1fr;
        grid-gap: var(--padding-def);
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        padding: var(--padding-def);
        position: relative;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .cart-item__thumb {
        height: 19.38vw;
    }

    .cart-item__title {
        font-size: 1rem;
        line-height: normal;
    }

    .page-cart {
        padding: 0 var(--padding-def) var(--padding-sm) var(--padding-def);
    }

    .cart-item__props {
        width: 100%;
    }

    .cart-item__counter {
        -ms-grid-column-span: 2;
        grid-column: 2 span;
    }

    .cart-item__pricing {
        height: 100%;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .cart-item__actions .btn-remove {
        opacity: 1;
    }

    .cart-item__actions {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        gap: 3vw;
        position: absolute;
        bottom: 26px;
        right: var(--padding-def);
        height: auto;
    }

    .cart-item__pricing-value {
        font-size: 1.18rem;
        white-space: nowrap;
    }

    .cart-item__counter .input-counter__input {
        font-size: 16px;
    }

    .cart-offer {
        max-width: 100%;
    }

    .cart-offer__price-top {
        font-size: 1.275rem;
    }

    .cart-offer__count {
        font-size: 1rem;
    }

    .cart-offer__form-inputs {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-gap: var(--padding-def);
    }

    .cart-offer__total {
        padding: 1.8vw 0;
        margin: 2.8vw 0;
    }

    .cart-offer__form {
        grid-gap: var(--padding-def);
    }

    .cart-offer__form-bottom {
        grid-gap: var(--padding-def);
    }

    .section-cart-offer {
        padding: 9.41vw 0;
    }

    .section-page-cart {
        overflow: hidden;
    }

    .cart-item__pricing-text {
        font-size: .9rem;
        text-align: left;
    }

    .filter-form__heading {
        display: block;
        font-size: 1.3rem;
        text-align: center;
        text-transform: uppercase;
    }

    .page-delivery__future-item {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .page-delivery__row {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .page-delivery__image {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
    }

    .page-delivery__content {
        padding: var(--padding-md) var(--padding-def) var(--padding-md) var(--padding-def);
        gap: 3.56vw;
    }

    .page-delivery__title {
        font-size: 3.375rem;
        width: 100%;
    }

    .page-delivery__futures {
        width: 100%;
    }

    .page-delivery__description {
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px) and (orientation: landscape) {
    .mobile-device-helper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #4c4c4c;
        color: #fff;
        font-size: 3vh;
        z-index: 99999;
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .mobile-device-helper-inner {
        padding: 50px;
    }
}

@media print {
    * {
        background: none !important;
        color: #000 !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
        -webkit-filter: grayscale(1) !important;
        filter: grayscale(1) !important;
    }
    a {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    a[href="#"],
    a[href="javascript:"] {
        content: "";
    }
}